/****************** Added Custom Styles for front end - Add these to your style sheet ***************/
/******************************************************/
.pullquote blockquote {
	width: 340px;
    float:left;
    quotes: "\201C" "\201D" "\2018" "\2019";
    font-style: italic;  
    border: none;
    font-family: Georgia, serif;
    font-size: 22px;
    line-height: 1.45;
    margin: 0.25em 12px .5em 0;
    padding: 0.25em 40px;
    position: relative;
    color: #383838;
}

.pullquote blockquote:before {
  content: open-quote;
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -10px;
  top: -20px;
  color: #7a7a7a;
}
.pullquote blockquote:after {
  content: no-close-quote;
}

.pullquote blockquote cite {
	color: #999999;
	font-size: 14px;
	display: block;
	margin-top: 5px;
}
 
.pullquote blockquote cite:before {
	content: "\2014 \2009";
}